/* table */
.table>thead>tr>th {
    text-align: center;
}

.table>tbody>tr>td {
    text-align: center;
    vertical-align: middle
}

table .dataTable {
    border-collapse: collapse !important;
}


.table>tbody>tr>td>img {
    height: 8em;
    width: 8em;
    object-fit: cover;

}

.container-body .row {
    margin-right: 0px;
    margin-left: 0px;
}

.table .btn-table {
    width: 5em;
}

tbody+thead {
    display: none;
}

.btn {
    color: #ffffff !important;
}

.btn-success {
    background-color: #0ec513 !important;
    border-color: #0ec513 !important;
}